body {

    margin:0;

    background:black;

    overflow:hidden;

    touch-action:none;

}



canvas {

    display:block;

    margin:auto;

}



/* 操作ボタン */

#controller {

    width:260px;

    margin:20px auto 0;

    text-align:center;

}



/* ボタン */

button {

    width:80px;

    height:80px;

    font-size:35px;

    margin:3px;

    border-radius:15px;

}



/* 横並び部分 */

#controller div {

    display:flex;

    justify-content:center;

    align-items:center;

}
